<li class="attachment" id="<%= attachment.to_param %>" data-id="<%= attachment.to_param %>">
  <%= image_tag attachment.url, alt: attachment.filename %>
  <%= link_to t('media_magick.remove'), "javascript://", method: "delete", confirm: t('media_magick.confirm_removal'), class: "remove btn btn-mini btn-danger" %>

  <%= hidden_field_tag "#{model.parameterize}[#{relation.singularize}_ids][]", attachment.id if model && relation %>
</li>