<div class="newAttachments <%= newAttachments[:class] %>">
  <ul class="attachmentQueue">
  </ul>

  <div class="dropAttachments"></div>
  <a class="pickAttachments btn" href="javascript://"><%= t('media_magick.select') %></a>
  <a class="uploadAttachments btn" href="javascript://"><%= t('media_magick.upload') %></a>
</div>
<ul class="loadedAttachments <%= loadedAttachments[:class] %>">
  <% for attachment in model.send(relations).each do %>
    <% if partial %>
      <%= render partial, attachment: attachment %>
    <% elsif attachment.class::TYPE.to_s == 'file' %>
      <%= render :partial => "/file", :locals => { :attachment => attachment } %>
    <% elsif attachment.class::TYPE.to_s == 'image' %>
      <%= render :partial => "/image", :locals => { :attachment => attachment } %>
    <% end %>
  <% end %>
</ul>